.Confirm {
  width: 90vw;
  margin: 0 auto;
  .marking{
    background-color: #E4F6FF;
    z-index: 100;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;

    td {
      border: 1px solid #fafafa;
      input {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
      }
    }
    th {
      background-color: #fafafa;
      text-align: left;
      padding: 10px 0;
    }
    td {
      height: 40px;
      padding: 10px;
      input {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
      }
      textarea {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
      }
    }

    span {
      padding: 7px;
    }
    .memo {
      height: 80px;
      td {
        padding-left: 12px;
      }
    }

    .inputArea {
      background-color: white;
    }
  }

  .buttonWrapper {
    display: flex;
    justify-content: flex-end;
  }

  .newOne {
    color: #57a256;
  }
  .oldOne {
    color: #ff7377;
  }
  .pending {
    color: #ffbf67;
  }
}
