.Reqeust{
    width: 90vw;
    margin: 0 auto;
    table{
        width: 100%;
        border-collapse: collapse;
        border-radius: 5px;

        td {
            border: 1px solid gray;
        }
        th{
            text-align: left;
            padding: 10px 0;
        }
        td{
            background-color: #FAFAFA;
            height: 40px;
            padding: 10px;
            input{
                width: 100%;
                height: 100%;
                padding: 0;
                margin: 0;
            }
            textarea{
                width: 100%;
                height: 100%;
                padding: 0;
                margin: 0;
            }
        }

        span{
            color: red;
            padding: 7px;
        }
        .memo{
            height: 80px;
            td{
                padding-left: 12px;
            }
        }

        .inputArea{
            background-color: white;
        }

    }
    .buttonWrapper{
        display: flex;
        justify-content: flex-end;
    }

    // .inputWrapper{
    //     width: 100%;
    //     input{
    //         width: 100%;
    //         height: 25px;
    //     }
    // }
    // .smallTitle{
    //     color: #4E4E4E;
    //     background-color: #FAFAFA;
    //     width: 300px;
    //     font-size: 15px;
    
    // }

    // .smallTitlememo{
    //     height: 40px;
    //     width: 300px;
    //     font-size: 15px;
    // }
    // .inputWrappermemo{
    //     width: 100%;
    //     input{
    //         width: 100%;
    //         height: 25px;
    //     }
    // }
    
    // .rowWrapper{
    //     display: flex;
    // }
    // .rowWrapper:nth-child(3){
    //     height: 100px;
    // }
}

