.Reqeust {
  width: 90vw;
  margin: 0 auto;

  table {
    width: 100%;
    border-collapse: collapse;

    td {
      border: 1px solid gray;
    }
    .buyRequire {
      background-color: #fafafa;
      width: 100%;
      border: 1px solid #fafafa;
      border-radius: 3px;
    }

    .site {
      height: 100%;
      width: 100%;
      border: 1px solid gray;
      border-radius: 3px;
    }
    .sitePartition {
      height: 100%;
      width: 100%;
      border: 1px solid gray;
      border-radius: 3px;
    }
    th {
      text-align: left;
      padding: 10px 0;
    }
    td {
      background-color: #fafafa;
      height: 40px;
      padding: 10px;
      input {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
      }
      textarea {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        resize: none;
      }
    }

    span {
      color: red;
      padding: 7px;
    }
    .memo {
      height: 80px;
      td {
        padding-left: 12px;
      }
    }

    .inputArea {
      background-color: white;
    }
  }
  .buttonWrapper {
    display: flex;
    justify-content: flex-end;
  }

  // .inputWrapper{
  //     width: 100%;
  //     input{
  //         width: 100%;
  //         height: 25px;
  //     }
  // }
  // .smallTitle{
  //     color: #4E4E4E;
  //     background-color: #FAFAFA;
  //     width: 300px;
  //     font-size: 15px;

  // }

  // .smallTitlememo{
  //     height: 40px;
  //     width: 300px;
  //     font-size: 15px;
  // }
  // .inputWrappermemo{
  //     width: 100%;
  //     input{
  //         width: 100%;
  //         height: 25px;
  //     }
  // }

  // .rowWrapper{
  //     display: flex;
  // }
  // .rowWrapper:nth-child(3){
  //     height: 100px;
  // }
}
